body{
    font-family: 'Roboto', sans-serif;
    background-color: #4D77FF;
}

h2{
    font-weight: 600;
}
.container{
margin: 0 auto;
width: 90%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.cent{
    text-align: center;
}
.precio{
    font-size: 20px;
    color: #e07f2f;
}
.columna{
    
    
    background-color: #d5e0d2;
    color: #333;
    border: 1px solid #333;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: -15px 15px 15px #868a85;
    width: 25%;
    box-sizing: border-box;
}
/* .columna:hover{
    background-color: #868a85;
;
} */
.compra{
    display: block;
    background-color:#56BBF1;
    color: #101c88;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.compra:hover{
    background-color: #4D77FF;
    transition: all .7s;
}
@media (max-width: 900px){
.columna{ 
    width: 100%;
}
}